---
layout: default
title: "IMQ: home"
section_id: home
---

{% include slider.html %}

{% include whys.html %}

<div class='full dark-blue no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light'>
      <div class='medium-9 large-9 columns'>
        <p class='left'>
          An Open Source, Fast, Reliable, Scalable, Simple and Easy-to-Use
          Microservices Framework, what are you waiting for?
        </p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='/get-started'>Start Using Now</a>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

{% include thanks.html %}
