<div class='full yellow'>
  <div class="row">
    <div class='medium-5 columns special-title'>
      <p style="margin-bottom:50px"><a href="https://lohika.com/"><img src="/images/lohika.svg"></a></p>
      <p>
        Special thanks to Lohika company for supporting this product development.
        Lohika - the best place to develop great products!
      </p>
    </div>
    <div class='medium-5 columns special-title'>
      <p><a href="https://github.com/"><img src="/images/github.png"></a></p>
      <p>
        Special thanks to GitHub - the best platform for OpenSource social
        coding and OpenSource projects hosting. And, of course, to the whole
        army of contributors.
      </p>
    </div>
  </div>
</div>